
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
:root{
    --fonte1:"tangerine", cursive;
    --fonten2:Arial, Helvetica, sans-serif;
}
*{
    margin:0 ;
    padding: 0;
  
}







body{
    text-align: center;
    background-color:black;
    font-family: var(--fonte1);
    font-size: 1.5em;
 
}
header{
    background-image: linear-gradient(45deg,rgb(241, 203, 36) ,rgb(70, 55, 5));
    height: 150px;


    
}
h1{
padding: 50px;
}
h2{
    padding-top: 100px;
    
}
nav{
  display: flex;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(95deg, rgb(239, 202, 38) ,rgba(117, 97, 9, 0.809));
  box-shadow: 1px 1px  rgba(0, 0, 0, 0.549);
  
    
}
a{
    text-decoration: none;
    color: black;

}
a:hover{
    color: rgb(55, 64, 73);
}

p{
    
    font-size: 1.5em;
}
main{
    background-color: rgba(119, 108, 108, 0.61);
    padding-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 0px 0px 25px 25px;
    
    
    
    
    

   

}
#txt{
    background-color: rgba(17, 16, 16, 0.61);
    color: aliceblue;
    width:60vw;
    height: 25vh;
    border-radius: 10px;


    text-align: center;

    
}
.nv{
    margin-left: 50px;
}
div{
    margin-bottom: 100px;
    background-color: rgb(252, 250, 250);
    width: 50vw;
    height: 35vh;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    text-align: center;
}
img{
    width: 200px;
    height:200px ;
    margin-top: 20px;
}
h3{
    margin-top:200px;
    height:200px ;
   color: aliceblue;
    border-radius: 90px;
    margin-bottom: 150px;
    font-size: 2em;
    
}
footer{
    border-radius: 10px;
    background-image: linear-gradient(45deg,rgb(241, 203, 36) ,rgb(70, 55, 5));
    
}
h4{
   
    width: 100VW;
    height: 10VH;
    color: aliceblue;
    text-align: center;
    justify-items: center;
    font-size: 2em;
    
    

}